<!DOCTYPE html>
<html class="reader-bg">

  <% page = "阅读" %>
  <%= render_component "head" %>

  <body class="reader-page" style="position:relative;" x-data="readerComponent()" x-init="init($nextTick)" @resize.window="resized()" data-i18n-page-title="reader_title">
    <div class="uk-section uk-section-default uk-section-small reader-bg" :style="mode === 'continuous' ? '' : 'padding:0; position: relative;'">

      <div @keydown.window.debounce="keyHandler($event)"></div>

      <div class="uk-container uk-container-small">
        <div id="alert"></div>
        <div x-show="loading">
          <div :class="alertClass" x-show="msg" uk-alert>
            <p x-text="msg"></p>
          </div>
        </div>
      </div>

      <div
        :class="{'uk-container': true, 'uk-container-small': mode === 'continuous', 'uk-container-expand': mode !== 'continuous'}" style="width: fit-content;">
        <div x-show="!loading && mode === 'continuous'" x-cloak>
          <template x-if="!loading && mode === 'continuous'" x-for="item in items">
            <img
              uk-img
              :class="{'uk-align-center': true, 'spine': item.width < 50}"
              :data-src="item.url"
              :width="item.width"
              :height="item.height"
              :id="item.id"
              :style="`margin-top:${margin}px; margin-bottom:${margin}px`"
              @click="clickImage($event)"
              />
          </template>
          <%- if next_entry_url -%>
            <button id="next-btn" class="uk-align-center uk-button uk-button-primary" @click="nextEntry('<%= next_entry_url %>')" data-i18n="next_item">下一项</button>
          <%- else -%>
            <button id="next-btn" class="uk-align-center uk-button uk-button-primary" @click="exitReader('<%= exit_url %>')" data-i18n="exit_reader">退出阅读</button>
          <%- end -%>
        </div>

        <div x-cloak x-show="!loading && mode !== 'continuous'" class="uk-flex uk-flex-middle" :style="`height:${fitType === 'vert' ? '100vh' : ''}; min-width: fit-content;`">

          <img uk-img :class="{
                               'uk-align-center': true, 
                               'uk-animation-slide-left': flipAnimation === 'left', 
                               'uk-animation-slide-right': flipAnimation === 'right'
                               }" :data-src="curItem.url" :width="curItem.width" :height="curItem.height" :id="curItem.id" @click="clickImage($event)" :style="`
                                                                                                                                                                 width:${fitType === 'horz' ? '100vw' : 'auto'}; 
                                                                                                                                                                 height:${fitType === 'vert' ? '100vh' : 'auto'}; 
                                                                                                                                                                 margin-bottom:0;
                                                                                                                                                                 max-width:${fitType === 'horz' ? '100%' : fitType === 'vert' ? '' : 'none' };
                                                                                                                                                                 max-height:${fitType === 'vert' ? '100%' : fitType === 'horz' ? '' : 'none'};
                                                                                                                                                                 object-fit: contain;
                                                                                                                                                                 `" />

          <div class="click-zone click-left" @click="flipPage(false ^ enableRightToLeft)"></div>
          <div class="click-zone click-right" @click="flipPage(true ^ enableRightToLeft)"></div>
        </div>

      </div>
    </div>

    <div id="modal-sections" class="uk-flex-top reader-modal" uk-modal>
      <div class="uk-modal-dialog uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
          <h3 class="uk-modal-title break-word"><%= entry.display_name %></h3>
          <p class="uk-text-meta uk-margin-remove-bottom break-word"><%= entry.path %></p>
        </div>
        <div class="uk-modal-body">
          <div class="uk-margin">
            <p class="progress-text" x-text="I18N.get('progress_label', loadLanguageSetting()) + ': ' + `${selectedIndex}/${items.length} (${(selectedIndex/items.length * 100).toFixed(1)}%)`"></p>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="page-select" data-i18n="jump_to_page">跳转到页面</label>
            <div class="uk-form-controls">
              <select id="page-select" class="uk-select" @change="pageChanged()" x-model="selectedIndex">
                <%- (1..entry.pages).each do |p| -%>
                  <option value="<%= p %>"><%= p %></option>
                <%- end -%>
              </select>
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="mode-select" data-i18n="mode">模式</label>
            <div class="uk-form-controls">
              <select id="mode-select" class="uk-select" @change="modeChanged($nextTick)">
                <option value="continuous" data-i18n="continuous">连续</option>
                <option value="paged" data-i18n="paged">分页</option>
              </select>
            </div>
          </div>

          <div class="uk-margin" x-show="mode !== 'continuous'">
            <label class="uk-form-label" for="fit-select" data-i18n="fit_page">适合页面</label>
            <div class="uk-form-controls">
              <select id="fit-select" class="uk-select" @change="fitChanged()">
                <option value="vert" data-i18n="fit_height">适合高度</option>
                <option value="horz" data-i18n="fit_width">适合宽度</option>
                <option value="real" data-i18n="original">原图</option>
              </select>
            </div>
          </div>

          <div class="uk-margin" x-show="mode === 'continuous'">
            <label class="uk-form-label" for="margin-range" x-text="I18N.get('margin_px', loadLanguageSetting()) + ': ' + `${margin}px`"></label>
            <div class="uk-form-controls">
              <input id="margin-range" class="uk-range" type="range" min="0" max="50" step="5" x-model="margin" @change="marginChanged()">
            </div>
          </div>

          <div class="uk-margin uk-form-horizontal" x-show="mode !== 'continuous'">
            <label class="uk-form-label" for="enable-flip-animation" data-i18n="enable_flip_animation">启用翻转动画</label>
            <div class="uk-form-controls">
              <input id="enable-flip-animation" class="uk-checkbox" type="checkbox" x-model="enableFlipAnimation" @change="enableFlipAnimationChanged()">
            </div>
          </div>
          <div class="uk-margin uk-form-horizontal" x-show="mode !== 'continuous'">
            <label class="uk-form-label" for="preload-lookahead" x-text="I18N.get('preload_images', loadLanguageSetting()) + ': ' + `${preloadLookahead} ` + I18N.get('pages', loadLanguageSetting())`"></label>
            <div class="uk-form-controls">
              <input id="preload-lookahead" class="uk-range" type="range" min="0" max="5" step="1" x-model.number="preloadLookahead" @change="preloadLookaheadChanged()">
            </div>
          </div>

          <div class="uk-margin uk-form-horizontal" x-show="mode !== 'continuous'">
            <label class="uk-form-label" for="enable-right-to-left" data-i18n="right_to_left">从右到左</label>
            <div class="uk-form-controls">
              <input id="enable-right-to-left" class="uk-checkbox" type="checkbox" x-model="enableRightToLeft" @change="enableRightToLeftChanged()">
            </div>
          </div>
          <hr class="uk-divider-icon">

          <div class="uk-margin">
            <label class="uk-form-label" for="entry-select" data-i18n="jump_to_entry">跳转到条目</label>
            <div class="uk-form-controls">
              <select id="entry-select" class="uk-select" @change="entryChanged()">
                <% entries.each do |e| %>
                  <option value="<%= e.id %>"
                  <% if e.id == entry.id %>
                    selected
                  <% end %>>
                  <%= e.title %>
                  </option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <div class="uk-modal-footer uk-text-right">
          <% if previous_entry_url %>
            <a class="uk-button uk-button-default reader-nav-btn uk-margin-small-bottom uk-margin-small-right" href="<%= previous_entry_url %>" data-i18n="previous">上一个</a>
          <% end %>
          <% if next_entry_url %>
            <a class="uk-button uk-button-default reader-nav-btn uk-margin-small-bottom uk-margin-small-right" href="<%= next_entry_url %>" data-i18n="next">下一个</a>
          <% end %>
          <a class="uk-button uk-button-danger reader-nav-btn reader-exit-btn uk-margin-small-bottom uk-margin-small-right" href="<%= exit_url %>" data-i18n="exit_reader">退出阅读</a>
        </div>
      </div>
    </div>

    <script>
      const base_url = "<%= base_url %>";
      const page = <%= page_idx %>;
      const tid = "<%= title.id %>";
      const eid = "<%= entry.id %>";
    </script>
    <script src="<%= base_url %>js/jquery.inview.min.js"></script>
    <%= render_component "uikit" %>
    <script src="<%= base_url %>js/alert.js"></script>
    <script src="<%= base_url %>js/reader.js"></script>
  </body>

  <style>
img[data-src][src*='data:image'] { background: white; }
img:not(.spine) { width: 100%; }
.reader-bg { background: black; }
  </style>

</html>
